@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
* {
    font-family: "dancing script";
}

body {
    background-color: #02010a;
}


/* HEADER */

.contenedor {
    width: 900px;
    margin: 0 auto;
}

.cabecera {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #5b7989;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: auto;
    text-align: center;
}

.logo {
    margin: auto;
    margin: 15px;
    font-size: 30px;
    float: left;
    color: #ffffff;
    text-shadow: 2px 2px #02010a;
    font-weight: bold;
    font-family: 'dancing script';
}

.menu {
    margin: auto;
    margin-top: 12px;
    margin-left: 25%;
}

a {
    color: #fff;
}

.dec {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
    margin-left: 2em;
}


/*........PRINCIPAL.......*/

.contenedor-gral {
    width: 900px;
    margin: 0 auto;
    padding: 40px;
    background-color: #d5c75f;
    box-sizing: border-box;
}

.superior,
.inferior {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 4%;
}

.inferior {
    margin-top: 30px;
}


/*    PRINCIPAL IMAGEN SUPERIOR    */

.uno img {
    width: 90%;
    height: 200px;
    -webkit-filter: blur(5px);
    filter: blur(5px)
}

.dos img {
    width: 90%;
    height: 200px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.tres img {
    width: 90%;
    height: 200px;
    -webkit-filter: sepia(90%);
    filter: sepia(90%);
}


/*    PRINCIPAL IMAGEN INFERIOR    */

.cuatro img {
    width: 90%;
    height: 200px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.cinco img {
    width: 90%;
    height: 200px;
}

.seis img {
    width: 90%;
    height: 200px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


/*.........FOOTER.........*/

footer {
    width: 900px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    background-color: #C6d5c5;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.container-body h1 {
    font-size: 25px;
}


/*......COLUMNA 1 .....*/

.row {
    display: flex;
}

.row img {
    width: 30px;
    height: 30px;
}

.row label {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}


/*......COLUMNA 2 .....*/

.term {
    margin-top: 15%;
}


/*......COLUMNA 3 .....*/

.row2 {
    display: flex;
}

.row2 img {
    width: 30px;
    height: 30px;
}

.row2 label {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}


/*......COLUMNA 4 .....*/

.row3 {
    display: flex;
}

.row3 label {
    margin-top: 5px;
}

@media screen and (max-width:900px) {
    /*Contenido*/
    .contenedor {
        width: 100%;
    }
    /*Header*/
    .cabecera {
        flex-direction: column;
    }
    .logo {
        text-align: center;
        width: 100%;
    }
    /*a esta clase le agregue el margin 0 para se centre por completo el menu en modo movil*/
    .menu {
        text-align: center;
        width: 100%;
        margin-left: 0%;
    }
    /*agregue este estilo debido a que las etiquetas ul tienen un padding aplicado por defecto y con esto lo quito para que en movil se centre mejor*/
    .menu ul {
        padding: 0;
    }
    /*         PRINCIPAL       */
    .contenedor-gral {
        width: 100%;
    }
    .superior,
    .inferior {
        flex-direction: column;
    }
    /*.....FOOTER.....*/
    footer {
        width: 100%;
    }
    .container-body {
        flex-direction: column;
        margin-top: -50px;
    }
    .term {
        margin-top: 0px;
    }
}