    .slideUp {
        animation-name: slidein;
        -webkit-animation-name: slidein;
        animation-duration: 3s;
        -webkit-animation-duration: 3s;
        visibility: visible !important;
    }
    
    @keyframes slidein {
        0% {
            transform: translateY(150%);
        }
        60% {
            transform: translateY(-5%);
        }
        100% {
            transform: translateY(0%);
        }
    }
    
    @-webkit-keyframes slidein {
        0% {
            transform: translateY(150%);
        }
        60% {
            transform: translateY(-5%);
        }
        100% {
            transform: translateY(0%);
        }
    }