    @import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
    body {
        font-family: "dancing script";
        font-size: 1.2rem;
        line-height: 1.6em;
        background-color: #02010a;
    }
    
    h1 {
        line-height: 1.3em;
        font-size: 2rem;
    }
    
    p {
        margin-bottom: 1.6em;
    }
    
    .container {
        width: 75%;
        margin: 0 auto;
    }
    
    .header a {
        text-decoration: none;
    }
    
    .logo-nav-container {
        display: flex;
        text-align: center;
        justify-content: space-between;
        background-color: #5b7989;
    }
    
    .container a {
        color: white;
        text-shadow: 2px #d3d2df;
    }
    
    .logo {
        letter-spacing: 15px;
        font-size: 1.5em;
        text-shadow: 2px #d3d2df;
        padding-top: 20px;
        margin-top: 25px;
        padding-left: 10px;
    }
    
    .navigation ul li {
        list-style: none;
        display: inline-block;
        margin-right: 20px;
        margin-top: 25px;
        font-size: 1.2em;
    }
    
    .navigation ul li a {
        color: white;
    }
    /*foto principal*/
    
    .container1 {
        background-color: #82c3a6;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1%;
        padding-bottom: 1.5%;
        transform: translateY(-18px)
    }
    
    .container1 img {
        width: 70%;
        margin-left: 15%;
    }
    
    .indent {
        margin-bottom: 3px;
        margin-left: 48%;
    }
    /*foto secundaria*/
    
    .container2 {
        display: flex;
        background-color: #d5c75f;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        border: 1px solid white;
        transform: translateY(-35px)
    }
    
    article .img1 {
        width: 40%;
        padding-left: 5%;
        padding-bottom: 3%;
        padding-top: 2.5%;
    }
    
    article .img2 {
        width: 40%;
        padding-right: 5%;
        padding-bottom: 3%;
        padding-top: 2.5%;
    }
    /*Centrar enlaces bajo las img */
    
    .container3 {
        display: flex;
        width: 75%;
        background-color: #d5c75f;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        transform: translateY(-80px)
    }
    
    .container3 div a {
        color: white;
    }
    
    .pais {
        width: 100px;
        margin-left: 20%;
    }
    
    .retra {
        width: 100px;
        margin-right: 20%;
    }
    
    @media screen and (max-width: 900px) {
        .header {
            display: block;
            text-align: left;
            float: none;
        }
    }